@model HomeViewModel
<form method="post">
    <div class="row">
        <div class="col-lg-10">
            <textarea style="resize:vertical; max-height: 300px; width: 100%" placeholder="Write text to encode/decode..." asp-for="TextToChange"></textarea>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-sm 12">
            <input type="submit" class="btn btn-warning" style="width:100px" asp-action="Encode" value="Encode">
            <input type="submit" class="btn btn-primary" style="width:100px; color:white" asp-action="Decode" value="Decode">
            <select id="Cipher" name="Cipher" asp-for="SelectedCipher">
                @foreach (var cipher in Model.Ciphers)
                {
                    <option>@cipher.CipherName</option>
                }
            </select>
            <label >Key:</label><input type="text" asp-for="Key" value="key" style="margin-left:5px"/>
            <text asp-for="Key"></text>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-lg-10">
            <textarea readonly="readonly" style="resize:vertical; max-height: 300px; width: 100%">@Model.Result</textarea>
        </div>
    </div>
</form>